<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: rgb(30, 13, 77);color: white;">

       
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                        <a class="navbar-brand" routerLink="HOME"><img src="assets/images/LOGO-FAVICON.png" alt=""
                                        class="flag" style="margin-left: 50px;margin-right: 150px;"></a>
                </div>

        </div>
        <h1 style="text-transform: uppercase;text-align: center;color: #437444;color: rgb(126, 231, 191);margin-top: 20px;margin-bottom: 20px;
text-shadow: 1px 1px 2px rgb(13, 13, 14), 0 0 25px rgb(52, 65, 63), 0 0 5px rgb(7, 54, 36);">Local Agent for approval
        and conformance testing in Tunisia</h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container" style="margin-left: 150px;margin-right: 80px;width: 150px;">
                        <img src="assets/tunisia.png" alt="" class="flag">
                </div>
        </div>






</nav>


<div class="container">
        <h2 style="background-color: rgb(203, 238, 137);height: 40px;margin-top: 30px;">
                <h2 style="margin-left: 30px;">DESCRIPTION :</h2>
        </h2>
        <p>Thanks to our team of professional experts in type approval, certification and type approval, we see
                ourselves as
                your guide for launching your product on the market.
                <br>
                We offer you full support for the certification of your product.
                <br>
                In order to successfully launch a product worldwide - or in a certain country -
                you must obtain the appropriate approvals.
                <br>
                Basic approval requirements may vary from country to country.
                <br>
                Our well-established know-how and our extensive international network are your significant advantage
                when it
                comes to the type approval of your product.
</div>

<div class="container">

        <h2 style="background-color: rgb(203, 238, 137);height: 40px;margin-top: 50px;">
                <h2 style="margin-left: 30px;">EXAMPLE OF CERTIFICATE FOR TUNISIA:</h2>
        </h2>
        <div class="row">
                <div class="col-sm-4">
                        <button mat-button (click)="openModel()" style="margin-left:50px ;"> <img src="assets/cert.png"
                                        alt="" style="width: 200px;"></button>
                </div>
                <div class="col-sm-4">
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Obligatory/voluntary</b></p>
                        <p style="margin-left: 80px;">Obligatory </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Authority/regulatory body</b></p>
                        <a href="https://www.cert.tn/en">
                                <p style="margin-left: 80px;">Ministère des technologies de la communication (CERT) </p>
                        </a>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Validity period of certification</b></p>
                        <p style="margin-left: 80px;">Unlimited</p>

                </div>
                <div class="col-sm-4">
                        <p style="margin-left: 80px;margin-top: 30px;"><b> Local representative required</b></p>
                        <p style="margin-left: 80px;">None </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>In-country test required</b></p>
                        <p style="margin-left: 80px;">YES </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Average radio type approval time
                                </b></p>
                        <p style="margin-left: 80px;">10 weeks</p>
                </div>

        </div>
</div>

<div class="container">
        <h2 style="background-color: rgb(203, 238, 137);height: 40px;margin-top: 50px;">
                <h2 style="margin-left: 30px;">PRODUCT SCOPE :</h2>
        </h2>
        <div class="row">
                <div class="col-sm-4">
                        <h2 style="color: #0082ca; text-decoration-line: underline;margin-left: 120px;">AUTOMOTIVE </h2>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>RADAR</b></p>
                        <p style="margin-left: 80px;">(24GHz, 77GHz, 79GHz, ULB) </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>G-Octet keyless</b></p>
                        <p style="margin-left: 80px;">(125KHz, 13.56MHz) </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Resistance Sensor</b></p>
                        <p style="margin-left: 80px;">(125Hz, 315MHz, 433MHz, 868MHz) </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Entertainment</b></p>
                        <p style="margin-left: 80px;">(2,4GHz) </p>

                </div>

                <div class="col-sm-4">
                        <h2 style="color: #0082ca; text-decoration-line: underline;margin-left: 120px;">INDUSTRY </h2>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>RADAR</b></p>

                        <p style="margin-left: 80px;margin-top: 30px;"><b>M-Bus wireless </b></p>
                        <p style="margin-left: 80px;">(315MHz, 433MHz, 868MHz) </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Bus CAN Wireless </b></p>

                        <p style="margin-left: 80px;margin-top: 30px;"><b>RFID</b></p>
                        <p style="margin-left: 80px;">(125Hz, 13.56MHz, 868MHz) </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>UWB Devices</b></p>
                        <p style="margin-left: 80px;">(24GHz, 60GHz, 79GHz) </p>


                </div>
                <div class="col-sm-4">
                        <h2 style="color: #0082ca; text-decoration-line: underline;margin-left: 50px;">CONSUMER
                                ELECTRONICS </h2>
                        <p style="margin-left: 80px;margin-top: 30px;"><b> Wireless HD</b></p>
                        <p style="margin-left: 80px;">(60 GHz) </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>WI-FI</b></p>
                        <p style="margin-left: 80px;">(2.4GHz, 3GHz ,5GHz, 6GHz) </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Bluetooth</b></p>
                        <p style="margin-left: 80px;">(2.4 GHz) </p>
                        <p style="margin-left: 80px;margin-top: 30px;"><b>Zigbee</b></p>
                        <p style="margin-left: 80px;">(868MHz, 2,4GHz) </p>

                </div>

        </div>
</div>

<div class="container">
        <h2 style="background-color: rgb(203, 238, 137);height: 40px;margin-top: 50px;">
                <h2 style="margin-left: 30px;">CLIENT LIST :</h2>
        </h2>
</div>

<div class="lesImg" style="margin-left:600px;">
        <span style="--i:1"><img class="diapo" src="/assets/client/im1.png"> </span>
        <span style="--i:2"><img class="diapo" src="/assets/client/im2.png"> </span>
        <span style="--i:3"><img class="diapo" src="/assets/client/im3.png"> </span>
        <span style="--i:4"><img class="diapo" src="/assets/client/im4.png"> </span>
        <span style="--i:5"><img class="diapo" src="/assets/client/im5.png"> </span>
        <span style="--i:6"><img class="diapo" src="/assets/client/im6.png"> </span>
</div>
<div class="lesImg" style="margin-left:600px;">
        <span style="--i:1"><img class="diapo" src="/assets/client/im7.png"> </span>
        <span style="--i:2"><img class="diapo" src="/assets/client/im8.png"> </span>
        <span style="--i:3"><img class="diapo" src="/assets/client/im9.png"> </span>
        <span style="--i:4"><img class="diapo" src="/assets/client/im10.png"> </span>
        <span style="--i:5"><img class="diapo" src="/assets/client/im11.png"> </span>
        <span style="--i:6"><img class="diapo" src="/assets/client/im12.png"> </span>
</div>
<div class="lesImg" style="margin-left:600px;">
        <span style="--i:1"><img class="diapo" src="/assets/client/im13.png"> </span>
        <span style="--i:2"><img class="diapo" src="/assets/client/im14.png"> </span>
        <span style="--i:3"><img class="diapo" src="/assets/client/im15.png"> </span>
        <span style="--i:4"><img class="diapo" src="/assets/client/im16.png"> </span>
        <span style="--i:5"><img class="diapo" src="/assets/client/im17.png"> </span>
        <span style="--i:6"><img class="diapo" src="/assets/client/im18.png"> </span>



</div>

<hr style="border: 1px solid red;margin-top: 70px;">

<div class="container">
        <h2 style="background-color: rgb(203, 238, 137);height: 40px;margin-top: 50px;">
                <h2 style="margin-left: 30px;">YOUR PERSONEL CONTACT :</h2>
        </h2>
        <div class="row">
                <div class="col-sm-6">
                        <img src="assets\mr.jpg" alt="img" class="imgMr">
                </div>
                <div class="col-sm-6">
                        <i class="fa fa-user" style="font-size:48px;color:rgb(131, 132, 240);margin-top: 50px;margin-left:auto;">
                                Mr.Person.1
                                <h2> <button mat-button (click)="openContact()"
                                                style="margin-left:50px ;margin-top: 50px;" class="btn btn-success">
                                                Quotation Request</button>
                                </h2>
                        </i>
                </div>

        </div>





</div>



<div style="width:100%; height: 150px; background-color: rgb(30, 13, 77);margin-top: 50px;">
        <div class="col-md-3">
                <div style="width: 100%; float:left; margin-left: 35px;margin-top: 10px; ">
                        <div class="icon-object icon-contact ">
                                <i class="fa fa-map-marker"
                                        style="font-size:48px;color:rgb(126, 250, 43);text-align: center;margin-left: 200px;margin-top: 20px;">

                                </i>
                        </div>
                        <p style="color: rgb(126, 250, 43);margin-left: 100px;text-align: center;">Office N°3 Aicha
                                building street Rome Borj Louzir Ariana
                        </p>
                </div>
        </div>

        <div style="width: 50%; float:left;margin-left: 300px; margin-top: 10px;">
                <h2 style="color: rgb(247, 243, 243);margin-left: 150px;">FOLLOW US</h2>


                <!-- Google -->
                <a class="btn btn-primary" style="background-color: #dd4b39;margin-left: 100px;margin-right: 20px;"
                        href="https://www.google.com/search?q=contact%40servtelpro.com.tn&rlz=1C1CHBF_frTN975TN975&oq=contact%40servtelpro.com.tn&aqs=chrome..69i57j69i58.687j0j7&sourceid=chrome&ie=UTF-8"
                        role="button"><i class="fa fa-google"></i></a>



                <!-- Linkedin -->
                <a class="btn btn-primary" style="background-color: #0082ca;margin-left: 20px;margin-right: 20px;"
                        href="https://www.linkedin.com/in/servtelpro-tunisia-950656202/" role="button"><i
                                class="fa fa-linkedin"></i></a>


                <!-- Whatsapp -->
                <a class="btn btn-primary" style="background-color: #25d366;margin-left: 20px;margin-right: 20px;"
                        href="https://api.whatsapp.com/send?phone=21655870304&app=facebook&entry_point=page_cta&fbclid=IwAR3b2oqH-ubfuzcI1aEjHim1t6Nz8Soo7R9Nk5DVmGsHksnRMnXARj1xyEs" role="button"><i class="fa fa-whatsapp"></i></a>
            
                

        </div>


</div>



<footer class="bg-dark text-center text-white">

        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(77, 13, 228, 0.2);">
                © 2022 Copyright:
                <a class="text-white" href="">ServtelPro</a>
        </div>
        <!-- Copyright -->
</footer>